*{
	margin:0;
	padding:0;
	list-style:none;
}
.w{
	width:990px;
	margin:0 auto;
}
.html{
	width:100%;
	height:100%;
}
.head1{
	height:80px;
	margin-top:5px;
}
.head1>li{
	float:right;
	font-size:12px;
	color:#666;
	margin-top:50px;
	cursor:pointer;
}
.nav{
	height:40px;
	background:#fff8f0;
	text-align:center;
	font-size:12px;
	color:#999;
	line-height:40px;
}
.nav>span{
	color:#333;
	cursor:pointer;
}
.nav>i{
	font-size:13px;
	color:#ccc;
}
.menu{
	overflow:hidden;
	width:100%;
	height:480px;
	position:relative;
}
.menu>img{
	width:100%;
}
.menur{
	position:absolute;
	width:350px;
	overflow:hidden;
	border:1px solid #ccc;
	background:#fff;
	z-index:999;
	top:10px;
	right:190px;
}
.top{
	height:40px;
	background:#fff8f0;
	text-align:center;
	font-size:12px;
	color:#999;
	line-height:40px;
}
.middle{
	height:55px;
	border-bottom:1px solid #eee;
}
.middle>li{
	float:left;
	width:175px;
	height:55px;
	font-size:18px;
	text-align:center;
	line-height:55px;
	cursor:pointer;
}
.middle1{
	font-weight:bold;
	color:#e4393c;
}

.erwei{
	width:165px;
	height:160px;
	border:1px solid #eee;
	margin-top:20px;
	margin-left:95px;
}
.erwei>img{
	margin:5px 0 0 10px;
}
.shouji{
	width:145px;
	height:172px;
	overflow:hidden;
	margin:10px 0 0 10px;
}
.botl{
	overflow:hidden;
	height:185px;
}
.botl>div{
	float:left;
}
.p1{
	font-size:12px;
	margin:10px 0 0 112px;
	cursor:pointer;
}
.p1>span{
	color:#f00;
}
.p2{
	margin:10px 0 0 15px;
}
.qq{
	height:50px;
	border-top:1px solid #eee;
	background:#fcfcfc;
	margin-top:10px;
	overflow:hidden;
}
.qq>li{
	float:left;
	font-size:12px;
	height:24px;
	width:24px;
	text-align:center;
	line-height:24px;
	margin-top:12px;
}
.qq>.qq3{
	width:60px;
	font-size:15px;
	line-height:18px;
}
.qqr{
	margin-left:15px;
}
#qqt{
	margin:15px 0 0 110px;
}
.menur>.qq>.qq3{
	margin-top:15px;
	color:#f00;
	cursor:pointer;
}
.qq1{
	cursor:pointer;
}
/*表单*/
.bottom>div:nth-child(2){
	display:none;
}
.for1{
	width:304px;
	height:23px;
	background:#fff;
	border:1px solid #fff;
	margin:5px 0 0 20px;
	font-size:12px;
	color:#e4393c;
	line-height:23px;
	text-indent:10px;
	box-sizing:border-box;
}
.for2>i{
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width:39px;
	height:39px;
	vertical-align:middle;
	margin:10px 0 10px 20px;
	text-align:center;
	line-height:39px;
	background:#eee;
	color:#ccc;
	font-size:18px;
	box-sizing:border-box;
}
.for2>input{
	width:265px;
	height:39px;
	outline:none;
	padding-left:5px;
	box-sizing:border-box;
}
.for3{
	width:308px;
	height:23px;
	font-size:12px;
	text-align:right;
	margin:5px 0 0 20px;
	color:#666;
	cursor:pointer;
}
.for4>input{
	width:308px;
	height:35px;
	background:#e4393c;
	margin:10px 0 10px 20px;
	border:none;
	outline:none;
	color:#fff;
	font-size:20px;
	cursor:pointer;
}
/*脚部*/
.foot{
	height:80px;
	font-size:12px;
}
.foot>ul{
	overflow:hidden;
}
.foot>ul>li{
	float:left;
	color:#666;
}
.foot1{
	margin:30px 0 0 50px;
}
.foot1>li{
	width:80px;
	text-align:center;
	height:15px;
	line-height:15px;
	border-right:1px solid #ccc;
	cursor:pointer;
}
.foot2{
	margin:10px 0 0 355px;
}
.foot2>li{
	margin-left:10px;
}
#ltt{
	border-right:1px solid #fff;
} 

